
/* Set body dimensions */
body {
  margin: 0 auto;
  align-content: center;
  background-color: #F5F3EF;
  padding: 20px 20px 20px 20px;
}

/* Customizing Paragraph Text */
p {
  font-family: "halyard-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px; /* Change the font size */
  color: #333; /* Change the text color */
  line-height: 1.5; /* Adjust the line height */
}

a {
  color: royalblue;
}

h1 {
  font-family: "superior-title", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px; /* Change the font size */
  color: #333; /* Change the text color */
  margin-top: 0.5em; /* Adjust the space above the text */
}

h2 {
  font-family: "superior-title", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px; /* Change the font size */
  color: #333; /* Change the text color */
  line-height: 1; /* Adjust the line height */

}

h3 {
font-family: "halyard-display", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 20px; /* Change the font size */
}

h4 {font-family: "superior-title", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px; /* Change the font size */
  color: #333; /* Change the text color */
  line-height: 1; /* Adjust the line height */
}

h5 {
  font-size: 20px; /* Change the font size */
  color: #333; /* Change the text color */
  line-height: 1; /* Adjust the line height */
}

/* styles for hover button */
.blue-btn {
            font-family: "halyard-display", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 14px;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #CC0033;
            color: #fff;
            border-radius: 5px;
            display: inline-block;
            transition: background-color 0.3s;
        }

        .blue-btn:hover {
            background-color: #0A0A0A;
        }

/* Styling for Accordion Feature */
.accordion-container {
  padding: 30px 30px 30px 30px;
  background-color: #f1f1f1; /* Gray background color */
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; /* Header background color */
  border-bottom: 1px solid #ccc;
}

.accordion-content {
  display: none;
  padding: 10px;
  transition: display 0.3s ease-out;
}

.accordion-header.open {
  background-color: #fff;
  font-weight: bold; /* or any other style you prefer */
}

/* Styling for Headshot Image Feature */
.head-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* or any other value based on your design preference */
  margin-right: 20px;
  float: left; /* Add float: left; for the image positioning */
}

/* Container for each team member's section */
.team-member {
  display: flex;
  align-items: flex-start; /* Align items at the start (top) of the flex container */
  margin-bottom: 30px; /* Add some margin between team members */
}

/* Clear the float after each team member's section */
.team-member::after {
  content: "";
  display: table;
  clear: both;
}

/* Style for the tooltip */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font: 20px sans-serif;
  background: lightsteelblue; /* Keeping the background the same */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 1; /* Fully opaque */
}

/* Style for the menu */
.navbar {
  background-color: #333;
  position: relative;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

.navbar ul ul li a:hover {
  background-color: #555;
}

