/*Styling for Accodion Feature*/

.accordion-container {
    padding: 30px;
    background-color: #f1f1f1; /* Gray background color */
}

.accordion {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #fff; /* Header background color */
    border-bottom: 1px solid #ccc;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-header.open {
    background-color: #fff;
    font-weight: bold; /* or any other style you prefer */
}

/*Styling for Heashot image Feature*/
.head-img {
  width: 200px;
  height: 200px;

/* Style for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 20px sans-serif;
    background: lightsteelblue; /* Keeping the background the same */
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 1; /* Fully opaque */
}




