body {
    font-family: Arial, sans-serif;
}

#map {
    position: relative; /* This makes it a reference for absolute children positioning */
}

/* Style for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 20px sans-serif;
    background: lightsteelblue; /* Keeping the background the same */
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 1; /* Fully opaque */
}

#map-legend {
    position: absolute;
    top: 10px;  /* Adjust as needed */
    right: 10px; /* Adjust as needed, or change to left if you prefer */
    z-index: 10; /* Higher than the map's z-index */
    pointer-events: none; /* Makes it non-interactive so map can be interacted with */
}

/* Ensure the text and rects inside the legend are interactive for mouse events */
#map-legend text,
#map-legend rect {
    pointer-events: all;
}

