body {
    font-family: Arial, sans-serif;
}


/* Style for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 20px sans-serif;
    background: lightsteelblue; /* Keeping the background the same */
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 1; /* Fully opaque */
}